body {
    margin-left: 10%;
    margin-right: 10%;  
    background-color:white;
}

#my_container {
    background-color:antiquewhite;
    /*padding-left: 0; 
    padding-right: 0;*/
}

.errorMessage {
    color: red;
}

#ulShoppingList {
    list-style-type: none;
}

ul
{
    padding-inline-start: 0px;
}

ul > li {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 200px;
    background-color:white;
    margin-bottom: 2px;
    padding: 5px;
}

li:nth-child(even) {
    background: whitesmoke;
}